.searchable-dropdown-container {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-query-input { 
  width: 100%;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid rgb(55, 55, 55);
  outline: none;
}
.search-query-input:disabled { 
  background-color: red;
}

.search-query-input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.trigger-icon {
  width: 30px;
  position: absolute;
  right: 10px;
  transition: transform 0.1s;

  path {
    stroke: white;  
  }
}

.trigger-icon-invert {
  transform: rotate(180deg);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  background-color: #121212;
  border: 1px solid rgb(55, 55, 55);
  border-radius: 4px;
  z-index: 10;
}

.dropdown-option {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-option-focused {
  background-color: rgb(55, 55, 55);
}

.dropdown-option-selected {
  background-color: rgb(131, 131, 131);
}

.dropdown-option-label {
  font-size: 16px;
}

.dropdown-option-label-focused {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.dropdown-option-no-match {
  padding: 8px 12px;
  cursor: pointer;
}